.board {
    display: flex;
    justify-content: center;
    height: 75vh;
}

.box {
    border: 2px solid black;
    width: 20vw;
    height: 20vw;
    margin: 4px;
    text-align: center;
    background-size: contain;
    background-color: azure;
    
    
}
@media screen and (min-width: 700px){
    .box {
        width: 15vh;
        height: 15vh
    }
}
h1 {
    text-align: center;
    font-size: 10vw;
    width: 100vw;
    background-color: white;
    border-radius: 10%;
    border: solid black 3px
}
h2 {
    text-align: center;
    font-style: bold;
    color: rgb(203, 149, 0)
}
.two {
    color: rgb(83, 237, 0)
}
.zero {
    color: rgb(0, 83, 128)
}
.four {
    color: red
}
.eight {
    color: rgb(47, 3, 40)
}
body {
    background-image: url("assets/color-stripesBG.png");
    height: 130vh;
}
.btn {
    display: flex;
    justify-content: center;
    
}
