.board {
    display: flex;
    height: 100vh;
    width: 97vw;
    justify-content: center;
    /* align-items: center; */
}

.box {
    border: 2px solid black;
    width: 20vw;
    height: 20vw;
    margin: 4px;
    text-align: center;
    background-size: contain;
    background-color: azure;
    
    
}
@media screen and (min-width: 700px){
    .box {
        width: 15vh;
        height: 15vh
    }
}
h1 {
    text-align: center;
    font-size: 10vw;
    width: 100vw;
    background-color: white;
}
.two {
    color: rgb(83, 237, 0)
}
.zero {
    color: rgb(0, 83, 128)
}
.four {
    color: red
}
.eight {
    color: rgb(47, 3, 40)
}
body {
    background-image: url("assets/color-stripesBG.png");
}